<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/round_assignment_ind_24"
        android:label="@string/app_name"
        android:roundIcon="@drawable/round_assignment_ind_24"
        android:supportsRtl="true"
        android:theme="@style/Theme.ClubDeportivoApp"
        tools:targetApi="31">
        <activity android:name=".HistorialPagosSocioActivity" />
        <activity
            android:name=".SplashActivity"
            android:theme="@style/SplashTheme"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DashboardActivity"
            android:exported="false" />
        <activity
            android:name=".AddSocioActivity"
            android:exported="false" />
        <activity
            android:name=".FindSocio"
            android:exported="false" />
        <activity
            android:name=".PerfilSocioActivity"
            android:exported="false" />
        <activity
            android:name=".ReporteVencimientosActivity"
            android:exported="false" />
        <activity
            android:name=".RegistrarPagoActivity"
            android:exported="false" />
        <activity
            android:name=".MantenimientoActivity"
            android:exported="false" />
    </application>

</manifest>